@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @{ Html.RenderAction(MVC.LocalMemberships.PasswordForm()); }
        <section id="externalLogins">
            @{
                Html.RenderAction(MVC.RemoteMemberships.RemoveAccountList());
                Html.RenderPartial(MVC.RemoteMemberships.Views._AddForm, ViewData);
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
