/* line 8, ../../compass/security/user-settings.scss */
body nav.user ul > li > a > i {
  /* color user nav icons black when not active */
  color: #000; }
/* line 12, ../../compass/security/user-settings.scss */
body nav.user ul > li.active > a > i {
  /* color user nav icons white when active */
  color: #fff; }
/* line 18, ../../compass/security/user-settings.scss */
body nav.user li.nav-header a {
  margin-bottom: 2px;
  border-radius: 5px 5px 0 0;
  border: solid 1px #ddd;
  padding: 4px;
  background-color: #f5f5f5;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  color: #333; }
  /* line 27, ../../compass/security/user-settings.scss */
  body nav.user li.nav-header a:hover {
    background-color: #e7e7e7;
    text-decoration: none; }
/* line 32, ../../compass/security/user-settings.scss */
body nav.user li.nav-header img.gravatar {
  margin-right: 4px; }
/* line 38, ../../compass/security/user-settings.scss */
body section.user-settings {
  margin-top: 30px; }
/* line 43, ../../compass/security/user-settings.scss */
body ul.emails > li {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: solid 1px transparent;
  padding: 8px;
  margin-bottom: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }
  /* line 50, ../../compass/security/user-settings.scss */
  body ul.emails > li.success {
    background-color: #dff0d8;
    border-color: #d6e9c6; }
    /* line 53, ../../compass/security/user-settings.scss */
    body ul.emails > li.success:hover {
      background-color: #d6e9c6; }
  /* line 58, ../../compass/security/user-settings.scss */
  body ul.emails > li.info {
    background-color: #d9edf7;
    border-color: #bce8f1; }
    /* line 61, ../../compass/security/user-settings.scss */
    body ul.emails > li.info:hover {
      background-color: #bce8f1; }
  /* line 66, ../../compass/security/user-settings.scss */
  body ul.emails > li.warning {
    background-color: #f7eaa7;
    border-color: #fe8; }
    /* line 69, ../../compass/security/user-settings.scss */
    body ul.emails > li.warning:hover {
      background-color: #fe8; }
  /* line 74, ../../compass/security/user-settings.scss */
  body ul.emails > li img.gravatar {
    vertical-align: top;
    height: 30px;
    margin-right: 4px; }
  /* line 80, ../../compass/security/user-settings.scss */
  body ul.emails > li .email-value {
    cursor: default;
    font-size: 18px;
    line-height: 30px; }
  /* line 86, ../../compass/security/user-settings.scss */
  body ul.emails > li .label {
    cursor: default;
    font-size: 14px;
    display: inline-block;
    padding: 3px 6px;
    margin-top: 5px;
    vertical-align: top; }
