<p>
    <button type="submit" name="provider" value="Facebook" title="Sign in with Facebook" class="facebook btn btn-lg">
        <i></i>
        <span class="hidden-md hidden-sm">Sign in with <strong>Facebook</strong></span>
        <strong class="hidden-lg hidden-xs">Facebook</strong>
    </button>
</p>

