@using Tripod.Domain.Security

@model UserView

<div class="user jumbotron clearfix">
    @Html.Gravatar(Model.PrimaryEmailHash, 128, "gravatar pull-left")
    <h1>
        @Model.UserName
        @*here is what happens when this gets really really really really really long*@
    </h1>
    <p class="lead">
        <a href="mailto:@Model.PrimaryEmailAddress">
            @Model.PrimaryEmailAddress
            @*here is what happens when this gets really really really really really long*@
        </a>
    </p>
</div>
