@using Microsoft.AspNet.Identity
@using Tripod.Domain.Security

@model DeleteRemoteMembership

@{
    ViewBag.Title = "Delete External Login";
}

<h2>@ViewBag.Title.</h2>
@{
    @Html.ValidationSummary()
    Html.RenderPartial(MVC.RemoteMemberships.Views._Table, new[] { new UserLoginInfo(Model.LoginProvider, Model.ProviderKey) });
}
