body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-group-addon.validation-icon {
    min-width: 30px;
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center 8px;
    text-indent: -9999px;
}

.has-error .input-group-addon.validation-icon {
    background-image: url(../images/icons/white-x-on-red-disc-110.png);
}

.has-success .input-group-addon.validation-icon {
    background-image: url(../images/icons/green-checkmark-a-256.png);
}

.validation-msg {
    padding-top: 8px;
}

    .validation-msg .help-block.control-message {
        /* can either do this, or remove padding above and set margins on field-validation-error */
        margin: 0;
    }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

hr {
    border-top-color: #ccc;
}

[ng-cloak] {
    display: none !important;
}