/* Primary layout styles */
/* line 5, ../compass/site.scss */
html {
  /* height:100% is necessary on both html and body for the sticky footer to work */
  height: 100%; }
  /* line 8, ../compass/site.scss */
  html body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    /* Set padding to keep content from hitting the edges */ }
    /* line 13, ../compass/site.scss */
    html body #wrap {
      /* styles used for the sticky footer */
      min-height: 100%;
      height: auto !important;
      margin: 0 auto -80px;
      padding: 0 0 80px; }
    /* line 20, ../compass/site.scss */
    html body #footer {
      /* footer height should be padded by other sticky footer styles */
      height: 80px; }
    /* line 26, ../compass/site.scss */
    html body .body-content {
      /* give the main content block some left & right spacing */
      padding-left: 15px;
      padding-right: 15px; }
    /* line 33, ../compass/site.scss */
    html body hr.hr-space {
      border-color: transparent; }
    /* line 34, ../compass/site.scss */
    html body hr.hr-md {
      margin: 12px 0; }
    /* line 35, ../compass/site.scss */
    html body hr.hr-sm {
      margin: 4px 0; }

/* useful classes */
/* line 42, ../compass/site.scss */
body ol.no-indent, body ul.no-indent {
  padding-left: 15px; }
/* line 45, ../compass/site.scss */
body .nudge-right {
  margin-left: 12px; }

/* bootstrap warning opacity treatments */
/* line 52, ../compass/site.scss */
body .alert-warning {
  /* default bootstrap warnings are rather opaque on some monitors */
  /* could override in template and custom-build using compass or less */
  /* ... or could just manually override below */
  color: #c09853;
  background-color: #f7eaa7;
  border-color: #dcc968; }

/* angular ng-cloak directive */
/* line 63, ../compass/site.scss */
[ng-cloak], .ng-cloak {
  display: none !important; }

/* navbar treatments */
/* line 70, ../compass/site.scss */
body .navbar-header.pull-right ul.navbar-nav.pull-left.nav {
  /* do not collapse right nav links */
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px; }
  /* line 75, ../compass/site.scss */
  body .navbar-header.pull-right ul.navbar-nav.pull-left.nav > li {
    float: left; }
@media (min-width: 768px) {
  /* line 80, ../compass/site.scss */
  body .navbar-header.pull-right ul.navbar-nav.pull-left.nav {
    margin: 0 0 0 15px; } }
/* line 87, ../compass/site.scss */
body .navbar .navbar-btn.navbar-link.btn-link.btn {
  margin-top: 0;
  margin-bottom: 0;
  padding: 9px 14px;
  text-decoration: none; }
@media (min-width: 768px) {
  /* line 95, ../compass/site.scss */
  body .navbar .navbar-btn.navbar-link.btn-link.btn {
    padding: 14px; } }

/* font-awesome treatments */
/* line 104, ../compass/site.scss */
body .fa-spin.spin-fast {
  -webkit-filter: blur(0); }
  /* line 107, ../compass/site.scss */
  body .fa-spin.spin-fast.spin-fast {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear; }

/* oauth sign in buttons */
/* line 118, ../compass/site.scss */
body .providers.row {
  margin-top: 20px;
  margin-bottom: 20px; }
  /* line 123, ../compass/site.scss */
  body .providers.row button {
    text-align: left;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff; }
    /* line 130, ../compass/site.scss */
    body .providers.row button i {
      display: block;
      float: left; }
    /* line 135, ../compass/site.scss */
    body .providers.row button.btn-lg {
      padding: 0 8px;
      height: 42px;
      /* this may need to change if there is no btn-lg */
      line-height: 40px; }
      /* line 140, ../compass/site.scss */
      body .providers.row button.btn-lg i {
        height: 42px;
        line-height: 40px;
        width: 32px; }
    /* line 147, ../compass/site.scss */
    body .providers.row button.google {
      background-color: #dd4b39; }
      /* line 150, ../compass/site.scss */
      body .providers.row button.google:hover {
        background-color: #e94a2f; }
      /* line 154, ../compass/site.scss */
      body .providers.row button.google:active {
        background-color: #be3e2e; }
      /* line 158, ../compass/site.scss */
      body .providers.row button.google i {
        background-image: url(../images/oauth-buttons/google/Red-signin-Small-transparent-44dp.png);
        -webkit-background-size: auto 36px;
        -moz-background-size: auto 36px;
        -o-background-size: auto 36px;
        background-size: auto 36px;
        background-repeat: no-repeat;
        background-position: -4px 2px; }
    /* line 166, ../compass/site.scss */
    body .providers.row button.facebook {
      background-color: #3b5998; }
      /* line 169, ../compass/site.scss */
      body .providers.row button.facebook:hover {
        background-color: #4c69a3; }
      /* line 173, ../compass/site.scss */
      body .providers.row button.facebook:active {
        background-color: #2f477a; }
      /* line 177, ../compass/site.scss */
      body .providers.row button.facebook i {
        background-image: url(../images/oauth-buttons/facebook/f-white-around-transparent.png);
        -webkit-background-size: auto 24px;
        -moz-background-size: auto 24px;
        -o-background-size: auto 24px;
        background-size: auto 24px;
        background-repeat: no-repeat;
        background-position: 1px 8px; }
    /* line 185, ../compass/site.scss */
    body .providers.row button.twitter {
      background-color: #1daee3; }
      /* line 188, ../compass/site.scss */
      body .providers.row button.twitter:hover {
        background-color: #00bbff; }
      /* line 192, ../compass/site.scss */
      body .providers.row button.twitter:active {
        background-color: #2b93b9; }
      /* line 196, ../compass/site.scss */
      body .providers.row button.twitter i {
        background-image: url(../images/oauth-buttons/twitter/bird-white-on-transparent-30-22.png);
        background-repeat: no-repeat;
        background-position: -1px 10px; }

/* wziard progress bar */
/* line 208, ../compass/site.scss */
body .wizard {
  /* https://github.com/twbs/bootstrap/issues/1982 http://jsfiddle.net/H7J94/5/ */
  padding: 0;
  margin: 0; }
  /* line 213, ../compass/site.scss */
  body .wizard .step {
    padding: 6px 8px;
    margin-right: 5px;
    background-color: #5bc0de;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-bottom: 4px; }
    /* line 222, ../compass/site.scss */
    body .wizard .step:before, body .wizard .step:after {
      width: 0;
      height: 0;
      border: 16px solid transparent;
      position: absolute;
      content: '';
      top: 0; }
    /* line 231, ../compass/site.scss */
    body .wizard .step:before {
      border-left-color: #fff;
      left: 0; }
    /* line 236, ../compass/site.scss */
    body .wizard .step:after {
      border-left-color: #5bc0de;
      border-right-width: 0;
      right: -16px;
      z-index: 2; }
    /* line 243, ../compass/site.scss */
    body .wizard .step .badge {
      margin: 0 5px 0 16px;
      position: relative;
      top: -1px;
      color: #5bc0de;
      background-color: #fff; }
    /* line 251, ../compass/site.scss */
    body .wizard .step.primary {
      background: #007ACC;
      color: #fff; }
      /* line 255, ../compass/site.scss */
      body .wizard .step.primary:after {
        border-left-color: #007ACC; }
      /* line 259, ../compass/site.scss */
      body .wizard .step.primary .badge {
        background-color: #fff;
        color: #007ACC; }
    /* line 265, ../compass/site.scss */
    body .wizard .step.success {
      background: #468847;
      color: #dff0d8; }
      /* line 269, ../compass/site.scss */
      body .wizard .step.success:after {
        border-left-color: #468847; }
      /* line 273, ../compass/site.scss */
      body .wizard .step.success .badge {
        background-color: #dff0d8;
        color: #468847; }
    /* line 279, ../compass/site.scss */
    body .wizard .step.completed {
      text-decoration: line-through; }
    /* line 283, ../compass/site.scss */
    body .wizard .step a {
      color: #fff;
      text-decoration: underline; }
      /* line 287, ../compass/site.scss */
      body .wizard .step a:hover {
        text-decoration: none; }

/* validation input group add-on & icon */
/* line 297, ../compass/site.scss */
body .input-group-addon.validation {
  /* position the icon(s) within this container */
  vertical-align: top;
  padding: 6px 6px 0 6px; }
  /* line 302, ../compass/site.scss */
  body .input-group-addon.validation i {
    width: 18px;
    /* fix width for all validation icons (has no effect when display:none) */
    display: none; }
    /* line 306, ../compass/site.scss */
    body .input-group-addon.validation i.default {
      color: #555;
      /* make this a little softer than black */
      display: inline-block;
      /* without a default icon, add-on will shrink */ }
      /* line 310, ../compass/site.scss */
      body .input-group-addon.validation i.default.fa-asterisk {
        /* make default asterisks smaller */
        font-size: 12px;
        line-height: 20px; }
    /* line 318, ../compass/site.scss */
    body .input-group-addon.validation i.error.fa-times {
      /* size for red error X icons */
      font-size: 18px; }
    /* line 325, ../compass/site.scss */
    body .input-group-addon.validation i.success.fa-check {
      /* size for green checkmark icons */
      font-size: 18px; }
    /* line 332, ../compass/site.scss */
    body .input-group-addon.validation i.warning.fa-exclamation-triangle {
      /* size for yellow exclamation warning triangle */
      font-size: 16px;
      line-height: 20px; }
    /* line 340, ../compass/site.scss */
    body .input-group-addon.validation i.spinner.fa-spinner {
      /* size for green checkmark icons */
      font-size: 18px; }
/* line 348, ../compass/site.scss */
body .input-group-lg .input-group-addon.validation i {
  margin-top: 6px; }
/* line 351, ../compass/site.scss */
body .form-control-lg .input-group-addon.validation i {
  margin-top: 6px; }
/* line 355, ../compass/site.scss */
body .input-group-sm .input-group-addon.validation i {
  margin-top: -1px; }
/* line 360, ../compass/site.scss */
body .has-success .input-group-addon.validation i.default {
  display: none; }
/* line 361, ../compass/site.scss */
body .has-success .input-group-addon.validation i.success {
  display: inline-block; }
/* line 364, ../compass/site.scss */
body .has-error .input-group-addon.validation i.default {
  display: none; }
/* line 365, ../compass/site.scss */
body .has-error .input-group-addon.validation i.error {
  display: inline-block; }
/* line 368, ../compass/site.scss */
body .has-warning .input-group-addon.validation i.default {
  display: none; }
/* line 369, ../compass/site.scss */
body .has-warning .input-group-addon.validation i.warning {
  display: inline-block; }
/* line 372, ../compass/site.scss */
body .has-spinner .input-group-addon.validation i.default {
  display: none; }
/* line 373, ../compass/site.scss */
body .has-spinner .input-group-addon.validation i.spinner {
  display: inline-block; }

/* validation help block horizontal positioning */
@media (min-width: 992px) {
  /* line 380, ../compass/site.scss */
  body .help-block-horizontal-md {
    /* get rid of the margin-bottom on this when it is displayed to the side
        so that it does not change height of overall field when disappearing */
    margin-bottom: 0;
    /* line this up a vertically with the field */
    margin-top: 0;
    /* bring the validation message closer to the field */
    margin-left: 0;
    padding-left: 0; }
    /* line 390, ../compass/site.scss */
    body .help-block-horizontal-md.under-label {
      margin-top: 27px; } }

/* validation popover positioning */
/* line 399, ../compass/site.scss */
body .validation-popover, body .validation-tooltip {
  width: 0;
  height: 0;
  margin-left: -12px;
  position: absolute;
  top: 16px; }
/* line 408, ../compass/site.scss */
body .form-group-lg .validation-popover, body .form-group-lg .validation-tooltip {
  top: 20px; }
/* line 414, ../compass/site.scss */
body .form-group-sm .validation-popover, body .form-group-sm .validation-tooltip {
  top: 12px; }
/* line 419, ../compass/site.scss */
body .validation.help-block .popover-content {
  padding: 4px 12px;
  word-wrap: break-word; }
/* line 425, ../compass/site.scss */
body .validation.help-block .tooltip-inner {
  text-align: left;
  background-color: #b94a48;
  max-width: initial; }
/* line 430, ../compass/site.scss */
body .validation.help-block .tooltip.right .tooltip-arrow {
  border-right-color: #b94a48; }

/* form elements */
/* line 438, ../compass/site.scss */
body .form-control .checkbox {
  /* when a checkbox is nested within a form-control (which is also probably nested within an input-group),
  remove the top padding, since the form-control provides padding already */
  padding-top: 0; }
/* line 443, ../compass/site.scss */
body input[type=checkbox] {
  /* make checkboxes use pointer cursor to match up with their labels */
  cursor: pointer; }
/* line 448, ../compass/site.scss */
body [disabled], body .btn[disabled] {
  /* show not-allowed cursor on disabled elements */
  pointer-events: auto;
  cursor: not-allowed; }
/* line 454, ../compass/site.scss */
body input[type=image].btn {
  /* hide padding on image buttons */
  padding: 0;
  border: 0; }

/* error page styles */
/* line 463, ../compass/site.scss */
body .danger.jumbotron {
  background-color: #f2dede;
  border-radius: 0; }

/* VS starter template styles */
/* line 471, ../compass/site.scss */
body .validation-summary-errors {
  color: #b94a48; }
/* line 475, ../compass/site.scss */
body .validation-summary-valid {
  display: none; }
/* line 479, ../compass/site.scss */
body hr {
  border-top-color: #ccc; }

/* deprecated VS starter template styles
body {*/
/* This was included by the VS starter template, but we don't want it.
Instead, we want to let bootstrap size the form elements at 100% and
use containers to provide widths where necessary
input,
select,
textarea {
    max-width: 280px;
}*/
/* These were generated by the VS starter template, but we don't want them.
Instead, we want to put field validation errors inside form help-blocks for coloration.
Also, we don't want to use jQuery validation.
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
*/
/*}*/
