body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.xfield-validation-error {
    /* disable this and display these within a help-block */
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-group-addon.validation-icon {
    min-width: 30px;
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center 8px;
    text-indent: -9999px;
}

.has-error .input-group-addon.validation-icon {
    background-image: url(../images/icons/white-x-on-red-disc-110.png);
}

.has-success .input-group-addon.validation-icon {
    background-image: url(../images/icons/green-checkmark-a-256.png);
}

@media(min-width: 992px) {
    .validation-msg.help-block {
        /* get rid of the margin-bottom on this when it is displayed to the side
            so that it does not change height of overall field when disappearing */
        margin-bottom: 0;
        /* line this up a vertically with the field */
        margin-top: 7px;
        /* bring the validation message closer to the field */
        margin-left: 0;
        padding-left: 0;
    }
}

input.xinput-validation-error {
    /* disable this and display these within a help-block */
    border: 1px solid #b94a48;
}

input[type="checkbox"].xinput-validation-error {
    /* disable this and display these within a help-block */
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

hr {
    border-top-color: #ccc;
}

[ng-cloak] {
    display: none !important;
}
