body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /* remove max-width, let inputs go 100%, and set containers to constrain */
    /*max-width: 280px;*/
}

/* styles for validation chelpers */
.xfield-validation-error {
    /* disable this and display these within a help-block */
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

/*.input-group-addon.xvalidation-icon {
    min-width: 30px;
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center 8px;
    text-indent: -9999px;
}

.has-error .input-group-addon.xvalidation-icon {
    background-image: url(../images/icons/white-x-on-red-disc-110.png);
}

.has-success .input-group-addon.xvalidation-icon {
    background-image: url(../images/icons/green-checkmark-a-256.png);
}*/

.input-group-addon.validation {
    vertical-align: top;
    padding: 6px 6px 0 6px;
}

.input-group-addon.validation i {
    width: 18px;
}

.form-group i.default {
    color: #555;
}

.form-group i.error, .form-group i.warning, .form-group i.success {
    display: none;
}

.has-error i.error {
    display: inline-block;
}

.has-error i.default, .has-error i.warning, .has-error i.success {
    display: none;
}

.has-success i.success {
    display: inline-block;
}

.has-success i.default, .has-success i.warning, .has-success i.error {
    display: none;
}

.has-warning i.warning {
    display: inline-block;
}

.has-warning i.default, .has-warning i.success, .has-warning i.error {
    display: none;
}

.input-group-addon.validation i.default.fa-asterisk {
    font-size: 12px;
    line-height: 20px;
}
.has-error .input-group-addon.validation i.error.fa-times {
    font-size: 18px;
}
.has-success .input-group-addon.validation i.success.fa-check {
    font-size: 18px;
}
.has-warning .input-group-addon.validation i.warning.fa-exclamation-triangle {
    font-size: 16px;
    line-height: 20px;
}


@media(min-width: 992px) {
    .validation-msg.help-block {
        /* get rid of the margin-bottom on this when it is displayed to the side
            so that it does not change height of overall field when disappearing */
        margin-bottom: 0;
        /* line this up a vertically with the field */
        margin-top: 7px;
        /* bring the validation message closer to the field */
        margin-left: 0;
        padding-left: 0;
    }
}

input.xinput-validation-error {
    /* disable this and display these within a help-block */
    border: 1px solid #b94a48;
}

input[type="checkbox"].xinput-validation-error {
    /* disable this and display these within a help-block */
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

hr {
    border-top-color: #ccc;
}

[ng-cloak] {
    display: none !important;
}
[disabled], .btn[disabled] {
    pointer-events: auto;
    cursor: not-allowed;
}

.form-control .checkbox {
    /* when a checkbox is nested within a form-control (which is also probably nested within an input-group),
                remove the top padding, since the form-control provides padding already */
    padding-top: 0;
}

input[type=checkbox] {
    /* make checkboxes use pointer cursor to match up with their labels */
    cursor: pointer;
}
