<p>
    <button type="submit" name="provider" value="Twitter" title="Sign in with Twitter" class="twitter btn btn-lg">
        <i></i>
        <span class="hidden-md hidden-sm">Sign in with <strong>Twitter</strong></span>
        <strong class="hidden-lg hidden-xs">Twitter</strong>
    </button>
</p>

