@using Tripod.Web.Models

@model SignUpWizardModel

@{
    var stepTitles = Model.StepContents.Keys.ToList();
}

<ul class="wizard">
    @foreach (var stepTitle in stepTitles)
    {
        var stepNumber = stepTitles.IndexOf(stepTitle) + 1;
        var stepClass = stepNumber < Model.StepNumber
            ? "success step completed"
            : stepNumber == Model.StepNumber
                ? "primary step"
                : "step";
        <li class="@stepClass">
            <span class="badge">@stepNumber</span>
            @if (string.IsNullOrWhiteSpace(Model.StepContents[stepTitle]))
            {
                @stepTitle
            }
            else
            {
                <a href="@Model.StepContents[stepTitle]" target="_blank">@stepTitle</a>
            }
        </li>
    }
</ul>
