@using Tripod.Domain.Security
@model VerifyEmailSecret

@{
    ViewBag.Title = "Verify your email address";
}

<h2>
    Sign in &raquo;
    <small>@ViewBag.Title</small>
</h2>
<hr class="hr-sm hr-space" />

@{ Html.RenderPartial(MVC.Security.Views._VerifyEmailWizardSteps, new VerifyEmailWizardModel(2, "Sign in")); }
<hr class="hr-space hr-md" />
<p>
    An email has been sent to
    @if (ViewBag.EmailAddress != null)
    {
        <strong>@ViewBag.EmailAddress</strong><text>.</text>
    }
    else
    {
        <text>the address you entered on the previous page.</text>
    }
    You have two options for verifying it:
</p>
<ul class="no-indent">
    <li>
        <p>
            In the email you were sent, there is a 10 to 12 character secret code. Paste it into the box below and click the button to proceed.
        </p>
        <p>
            <strong>or</strong>
        </p>
    </li>
    <li>
        Click the hyperlink in the email to skip this step. However, clicking it will open a different tab than this one.<br />
        If you choose this option, you can come back and close this tab after you sign in.
    </li>
</ul>

<hr class="hr-space hr-md" />

@{ Html.RenderPartial(MVC.Security.Views._VerifyEmailSecretForm); }

@section scripts
{
    @{ Html.RenderPartial(MVC.Scripts.Views.Angular); }
    <script src="~/app/security/SignUpSecretForm.js"></script>
}
