@using Tripod.Domain.Security
@using Tripod.Web.Models
@model VerifyConfirmEmailSecret

@{
    ViewBag.Title = "Confirm your email address";
}

<h2>
    Sign in  &raquo;
    <small>@ViewBag.Title.</small>
</h2>
<hr class="hr-sm hr-space" />

@{ Html.RenderPartial(MVC.Security.Views._SignUpWizard, new SignUpWizardModel(2, "Choose username")); }

@* NO CONFIRM URL ALERT *@
<hr class="hr-md hr-space" />
<div class="alert alert-warning alert-inline">
    <strong>Don't close this tab!</strong> If you do, you will have to start over and have a different secret code emailed to you.
</div>

<p>
    A 10 to 12 character secret code has been sent to
    @if (ViewBag.EmailAddress != null)
    {
        <strong>@ViewBag.EmailAddress</strong><text>.</text>
    }
    else
    {
        <text>the address you entered on the previous page.</text>
    }
    <br />
    Paste it into the box below and click the button to proceed.
</p>

<hr class="hr-space hr-md" />

@{ Html.RenderPartial(MVC.Security.Views._SignUpSecretForm); }

@section scripts
{
    @{ Html.RenderPartial(MVC.Scripts.Views.Angular); }
    <script src="~/app/security/SignUpSecretForm.js"></script>
}
