@using UserConstraints = Tripod.Domain.Security.User.Constraints

@model ChangeUserNameModel

@{
    ViewBag.Title = "General settings";
}

@section styles
{
    <link href="~/content/security/user-settings.css" rel="stylesheet" />
}


@{ Html.RenderPartial(MVC.Users.Views._UserJumbotron, Model.UserView); }

<section class="user-settings row">

    @{ Html.RenderPartial(MVC.Security.Views._UserSettingsNav, new UserSettingsNavModel { IsGeneralSettings = true }); }

    <div class="col-md-8" role="main">

        <h3 class="scalp">
            My @UserConstraints.NameLabel.ToLower()
        </h3>

        <p>
            If you would like to change your @UserConstraints.NameLabel.ToLower(), you can use the text box below to do so.
        </p>

        @{ Html.RenderPartial(MVC.Security.Views._ChangeUserNameForm, Model.Command); }
    </div>
</section>

@section scripts
{
    @{ Html.RenderPartial(MVC.Scripts.Views.Angular); }
    <script src="~/scripts/app/security/ChangeUserNameForm.js"></script>
}