@model LoginSettingsModel

@{
    ViewBag.Title = "Logins";
}

@section styles
{
    <link href="~/content/security/user-settings.css" rel="stylesheet" />
}



@{ Html.RenderPartial(MVC.Users.Views._UserJumbotron, Model.UserView); }

<section class="user-settings row">

    @{ Html.RenderPartial(MVC.Security.Views._UserSettingsNav, new UserSettingsNavModel { IsLogins = true }); }

    <div class="col-md-8" role="main">

        @{ Html.RenderPartial(MVC.Shared.Views._AlertsTempData, new AlertRenderOptions()); }

        <h3 class="scalp">
            My logins
        </h3>

        @if (!Model.Logins.Any())
        {
            <p>
                You do not have any logins linked to your account.
            </p>
        }
        else
        {
            var google = Model.Logins.SingleOrDefault(x => x.Provider.Equals("Google", StringComparison.OrdinalIgnoreCase));
            var facebook = Model.Logins.SingleOrDefault(x => x.Provider.Equals("Facebook", StringComparison.OrdinalIgnoreCase));
            var twitter = Model.Logins.SingleOrDefault(x => x.Provider.Equals("Twitter", StringComparison.OrdinalIgnoreCase));
            <ul class="logins list-unstyled">
                @if (google != null)
                {
                    <li class="google clearfix">
                        <i></i>
                        <span class="login-text">
                            Google
                        </span>
                    </li>
                }
                @if (facebook != null)
                {
                    <li class="facebook clearfix">
                        <i></i>
                        <span class="login-text">
                            Facebook
                        </span>
                    </li>
                }
                @if (twitter != null)
                {
                    <li class="twitter clearfix">
                        <i></i>
                        <span class="login-text">
                            Twitter
                        </span>
                    </li>
                }
            </ul>
        }

    </div>
</section>
